.signup-container {
  background: url(../../../public/images/background8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5vh;
  align-items: center;
}
.title-Signup {
  margin: 0;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-signup-text {
  font-size: 24px;
  font-weight: bolder;
}
.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 246, 255, 0.2);
  height: 80vh;
  width: 40vw;
}
.signup-form label {
  width: 90%;
}
.signup-form input {
  width: 100%;
  height: 6vh;
  border-radius: 5px;
  border: none !important;
  outline: none !important;
  padding-left: 2%;
}
.signup-form h6 {
  font-weight: bold;
}
.signup {
  display: flex;
  flex-direction: column;

  margin-left: 5vh;
}
.signup h1 {
  margin: 0;
}
.buttons-signup {
  align-self: self-start;
  padding-left: 5vh;
  padding-top: 4vh;
  display: flex;
  flex-direction: column;
}
.already-user {
  display: flex;
  margin-top: 20px;
}
.already-user-btn {
  list-style: none;
  text-decoration: none;
}
.already-user-btn:hover {
  text-decoration: none;
}
.btn--signin {
  background-color: #006ae8;
  height: 5vh;
  border-radius: 5px;
}

.error {
  color: red;
  display: flex;
  flex-direction: column;
}
.or-login-text {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.or-login-text p {
  margin-top: 2vh;
}
.or-login-text span {
  width: 30%;
  margin-left: 2vh;
  margin-right: 2vh;
  height: 1px;
  color: black;
  background-color: black;
}

@media screen and (max-width: 700px) {
  .signup-container {
    flex-direction: column;
    justify-content: center;
    padding: 5vh;
  }
  .signup {
    margin-left: 0;
    width: 90%;
  }
  .title-signup {
    margin: 0;
  }
  .signup-form {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .signup-container {
    padding: 1vh;
  }
  .signup {
    margin-left: 0vh;
    width: 100%;
  }
  .signup-form {
    width: 100%;
    margin-top: 40px;
  }
  .title-signup-text {
    font-size: 20px;
    font-weight: bolder;
  }
  .signup-form input {
    height: 40px;
  }
  .signup-form h6 {
    font-weight: bold;
  }

  .signup h1 {
    margin: 0;
  }
  
  .btn--signin {
    background-color: #006ae8;
    height: 40px;
    border-radius: 5px;
  }

  .error {
    color: red;
    display: flex;
    flex-direction: column;
  }
  .or-login-text {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .or-login-text p {
    margin-top: 2vh;
  }
  .or-login-text span {
    width: 0%;
    height: 1px;
   
  }
}
