* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* TODO */
.Todo-container {
  display: flex;
  /* grid-template-columns: 15% 85%; */
  height: 92vh;
}
.lists {
  background-color: rgb(251, 251, 250);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  height: 100%;
  padding-top: 5vh;
  top: 0;
  z-index: 2;
}
.list-inputss {
  margin-top: 1vh;
  display: flex;
}
.list-title {
  position: relative;
  display: grid;
  height: 5vh;
  text-align: center;
  margin-bottom: 20px;
}
.list-name-input {
  height: 100%;
  width: 100%;
  border: none !important;
  padding: 1vh;
  padding-left: 2vh;
  background-color: rgb(251, 251, 250);
  outline: none;
}
.list-add-btn {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: inherit;
  font-size: 1.1rem;
  margin: 1vh;
  bottom: 0;
  right: 0;
}
.list-names {
  width: 100%;
  margin-top: 5vh;
}
#list-name {
  margin-left: 1vh;
  align-self: center;
  margin-bottom: 0;
  color: rgba(25, 23, 17, 0.6);
  font-size: 0.8rem;
  font-weight: bold;
}
.list-name {
  display: flex;
  padding: 0.2vh;
  height: 3vh;
  text-align: center;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: rgb(251, 251, 250);
  padding-left: 3vh;
}
.Select {
  margin: 0vh 1vh;
}
.selected-image {
  height: 16px;
  width: 16px;
}
.list-name img {
  align-self: center;
}
.delete-list-button {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background: none !important;
}
.delete-list-button img {
  width: 15px;
  height: 15px;
  opacity: 0.7;
}

.delete-list-button img:hover {
  opacity: 1;
}
.list-name-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-right: 1vh;
}
.visible {
  display: block;
  outline: none !important;
  border: none !important;
  background: none !important;
  padding: 1vh;
}
.visible img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1vh 2vh;
  height: 30px;
  width: 30px;
  font-weight: bolder;
}
.visible2 {
  position: absolute;
  right: 0;
  margin: 1vh;
  outline: none !important;
  border: none !important;
  background: none !important;
  font-weight: bolder;
  margin-top: -4vh;
}

/* Lists Shown */
.body-container {
  height: 100%;
  width: 100%;
  margin-top: 5vh;
  overflow-y: auto;
  background-color: white;
  position: relative;
  z-index: 3;
}
.current-list-heading {
  display: flex;
  align-items: center;
  max-height: 7vh;
  align-self: flex-start;
  min-width: 5vw;
  padding: 0.5vh;
  justify-content: center;
  background-color: rgba(254, 254, 253, 0.8);
}
.current-list-icon {
  height: 16px;
  width: 16px;
}
.current-list-name {
  margin-left: 1vh;
  align-self: center;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 1);
  font-size: 1rem;
  font-weight: bolder;
}
.add-button {
  font-size: 14px;
  color: white;
  font-weight: bolder;
  margin-right: 10px;
  height: 6vh;
  padding: 0.5vh;
  min-width: 7vw;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 255, 0.8);
  cursor: pointer;
}

.add-button:hover {
  color: wheat;
}

.add-button:active {
  transform: scale(0.95);
}

.Select-task {
  position: relative;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

/* TASKSFORM */

.hidden {
  display: none;
}
.display {
  display: contents;
  padding: 2vh;
}
.task-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 5vh;
  padding: 3vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.tasks-inputs {
  display: flex;
  padding: 1vh;
  flex-direction: column;
  width: 100%;
}
.input-task,
.input-date {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.tasks-others {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 2vh;
}
.due-dates {
  margin-right: 5vh;
}
.task-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-buttons button {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background: none !important;
  cursor: pointer;
  margin-left: 10px;
}
.before-selected {
  font-weight: bolder;
  font-size: 15px;
  color: black;
  background-color: rgba(255, 254, 254, 0.5);
  padding: 1vh;
  margin-top: 2vh;
}
.task-buttons img {
  width: 20px;
  height: 20px;
  opacity: 0.7;
}

.task-buttons img:hover {
  opacity: 1;
}
.tasks-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.cancel-button {
  margin-right: 5vh;
}

/* TASK AND TASKLIST */
.tasks {
  width: 75vw;
  margin-top: 5vh;
  padding: 1vh;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.task {
  display: grid;
  grid-template-columns: 70% 22% 8%;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  min-height: 10vh;
  margin-top: 2vh;
  padding: 2vh;
}
.added-task-details {
  width: 100%;
  display: flex;
  padding-right: 4vh;
}
.task-details {
  padding-left: 2vh;
  width: 100%;
}
.content-container {
  display: flex;
  height: 100%;
}
.task-details .added-task-name {
  font-size: 18px;
  width: 100%;
  color: #333;
  white-space: pre-line;
  word-wrap: break-word;
  resize: none;
  max-width: 100%;
}

.task-details .added-task-desc {
  font-size: 16px;
  color: #777;
  /* white-space: pre-line; */
  white-space: pre-line;
  word-wrap: break-word;
  /* height: 20vh; */
  resize: none;
  max-width: 100%;
}

.added-task-others {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.added-task-others span {
  font-size: 14px;
  color: #555;
  margin-right: 10px;
}
.task-duedate {
  text-align: center;
  margin-top: 1vh;
  background-color: rgb(56, 203, 56);
  height: 4vh;
  min-width: 8vw;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh;
}
.task-priority {
  padding: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-top: 1vh; */
  background-color: rgb(225, 75, 75);
  height: 4vh;
  min-width: 8vw;
  border-radius: 2px;
}
.task-name {
  font-size: 1.2rem;
  width: 80%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.Select-task {
  width: 30vw;
}
.task-added-icon {
  height: 18px;
  width: 18px;
}
/* DROPDOWN */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropbtn:hover {
  background-color: #0056b3;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f2f2f2;
}
.priorities {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #f1f1f1;
  color: #333;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #e0e0e0;
}
.hide {
  display: none;
}
.hide2 {
  display: none;
}
.hideit {
  display: none;
}
@media screen and (max-width: 1200px) {
  .Todo-container {
    grid-template-columns: 20% 80%;
  }
  .task-form {
    margin: 0;
  }
}
@media screen and (max-width: 800px) {
  .visible2 {
    position: absolute;
    right: 0;
    margin: 1vh;
    font-weight: bolder;
    margin-top: -4vh;
  }
  .task-form {
    margin: 0;
  }
  .Todo-container {
    display: block;
    height: 100vh;
  }
  .tasks {
    width: 90%;
  }
  .add-button {
    padding: 0vh 2vh;
    font-size: 12px;
    height: 4vh;
    min-width: 9vw;
    margin: 0;
    margin-top: 3vh;
  }
  .current-list-heading {
    align-self: center;
    padding-right: 1vh;
  }
  .lists {
    position: relative;
    z-index: 1;
    padding-top: 5vh;
    background-color: rgb(251, 251, 250);
    height: 100vh;
    display: flex;
    width: 30vh;
    flex-direction: column;
    align-items: center;
  }

  .body-container {
    position: absolute;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .added-task-details {
    grid-area: details;
  }
  .added-task-others {
    grid-area: others;
    flex-direction: row;
  }
  .task-form {
    margin: 0;
  }
  .task-buttons {
    grid-area: delete;
  }
  .task-duedate {
    margin-left: 3vh;
    height: 4vh;
    margin-top: 0;
  }
  .task {
    grid-template-areas:
      "details details detials"
      "others others delete";
  }
}
@media screen and (max-width: 450px) {
  .tasks-others {
    flex-direction: column;
  }
  .task-form {
    margin: 0;
    width: 100%;
    padding: 1.5vh;
  }
  .input-date,
  .input-task {
    font-size: 12px;
  }
  .Select-task {
    width: 95%;
    font-size: 12px;
  }
  .tasks-inputs {
    width: 100%;
    padding: 0;
  }
  .due-dates {
    margin: 0;
    margin-bottom: 3vh;
    font-size: 12px;
  }
  .dropdown {
    font-size: 12px;
  }
  .cancel-button {
    font-size: 12px;
  }
  .add-button2 {
    font-size: 12px;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    background-color: rgba(0, 0, 255, 0.8);
    cursor: pointer;
  }
}

@media screen and (max-width: 360px) {
  .task {
    grid-template-areas:
      "details details detials"
      "others others others"
      "delete delete delete";
  }
  .added-task-details {
    padding: 0;
  }
  .added-task-others span {
    margin-right: 0;
  }
  .tasks {
    width: 100%;
  }
  .task-duedate {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    padding: 0vh 1vh;
  }

  .task-buttons {
    margin-top: 3vh;
  }
  .lists {
    width: 25vh;
  }
}
