@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

.body-container {
  display: flex;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  align-items: center;
}

/* CSS */

.login-btnn:hover,
.login-btnn:focus {
  background-color: #07c;
}

.login-btnn:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.login-btnn
:active {
  background-color: #0064bd;
  box-shadow: none;
}
.login-btnn{
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}
.user-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../../public/images/background3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  min-width: 50%;
  padding: 1vh;
}
.user-details h5 {
  font-size: 13px;
  font-weight: bold;
}
.home-container {
  font-family: "Roboto", sans-serif;
 
}
.navv {
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 4vh 2vh;
}
.navv h5 {
  font-weight: bold;
}
.login-signup {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-signup li {
  list-style: none;
}
.snapshots {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carusel {
  height: 100%;
  width: 45%;
}
.carousel-inner {
  height: 100%;
  /* width: 50vw; */
}
.carousel-item {
  height: 100%;
  width: 100%;
}
.carousel-item img {
  height: 100%;
  width: 100%;
}
.carousel-indicators [data-bs-target] {
  background-color: black;
}
/* .carousel-indicators {
  margin-bottom: 1rem;
} */

/* CONTENT CSS */
.header-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5vh;
}
.header-one span {
  font-weight: bold;
  font-size: 28px;
}
.header-one p {
  font-weight: 500;
  font-size: 18px;
}
.tasks-manage {
  grid-area: tasks;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   padding: 2vh;
  box-shadow: rgba(0, 0, 0, 0.5) 1.95px 1.95px 6px;
}
.notes-manage {
  grid-area: notes;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vh;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 6px;
}
.weather-managee {
  grid-area: weather;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.weather-manage {
  box-shadow: rgba(0, 0, 0, 0.5) 1.95px 1.95px 6px;
  padding: 5vh;
  width: 30vh;
  width: 50%;
  text-align: center;
}
.header-two {
  display: grid;
  grid-template-areas:
    "tasks notes"
    "weather weather";
  grid-gap: 3vh;
  padding: 2vh;
  width: 100%;
  margin-bottom: 5vh;
}

@media screen and (max-width: 1300px) {
  .snapshots {
    height: 85vh;
  }
  .carusel {
    height: 100%;
    width: 50%;
  }
  .header-one span {
    font-size: 24px;
  }
  .header-one p {
    font-size: 15px;
  }
}

@media screen and (max-width: 1150px) {
  .header-two {
    display: grid;
    grid-template-areas:
      "tasks"
      "notes"
      "weather";
    grid-gap: 3vh;
    padding: 12vh;
    width: 100%;
    margin-bottom: 5vh;
  }
  .weather-manage {
    width: 100%;
  }
}
@media screen and (max-width:900px) {
  .snapshots{
    display: none;
  }

  .home-header{
margin-top: 5vh;
  }
  .header-one{
    padding: 10vh;
  }
  .header-one span {
    font-size: 20px;
  }
  .header-one p {
    font-size: 14px;
  }
  .header-two{
    padding-top: 0;
  }
  .ht li{
    font-size: 14px;
  }
  
}
@media screen and (max-width:715px) {
  .header-one{
    padding: 4vh;
  }
  .header-two {
 
  padding: 0.8vh;
  width: 100%;
  margin-bottom: 5vh;
}
}
@media screen and (max-width:550px) {
  .header-one{
    padding: 3vh;
  }
  .header-two {
  padding: 0.8vh;
  width: 100%;
  margin-bottom: 5vh;
}
.ht h6{
  font-size: 14px;
}
.ht li{
    font-size: 12px;
  }
}
@media screen and (max-width:400px) {
  .navv{
    padding: 4vh 1vh;
  }
  .navv h5{
    font-size: 18px;
    margin-bottom: 0;
  }
  .navv li{
    font-size: 14px;
    padding-bottom: .5vh;
  }
  .header-one{
    padding: 2vh;
  }
  .header-one span{
font-size: 17px;
  }
  .header-one p{
    font-size: 11px;
  }
  .header-two {
  padding: 0.8vh;
  width: 100%;
  margin-bottom: 5vh;
}
.ht h6{
  font-size: 13px;
}
.ht li{
    font-size: 11px;
  }
}
@media screen and (max-width:300px) {
  .navv{
    padding: 4vh 0.5vh;
  }
  .navv h5{
    font-size: 14px;
    margin-bottom: 0;
  }
  .navv li{
    font-size: 12px;
    padding-bottom: .5vh;
  }
  .header-one{
    padding: 2vh;
  }
  .header-one span{
font-size: 17px;
  }
  .header-one p{
    font-size: 11px;
  }
  .header-two {
  padding: 0.8vh;
  width: 100%;
  margin-bottom: 5vh;
}
.ht h6{
  font-size: 13px;
}
.ht li{
    font-size: 11px;
  }
}