* {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: rgba(248, 249, 250, 1) !important;
}
.container {
  margin: 0;
  max-width: 100vw;
  padding: 0;
}
.logo-title {
  font-weight: bolder;
}
#basic-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10vh;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
  margin-right: 3vh;
}

