@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

/* REUSABLES */
.lets-find,
.form,
.cards,
#d1,
.date,
.desc,
#tempv,
#city2,
.grid-i {
  display: flex;
}

.lets-find,
.form,
.cards,
.date,
.desc,
.tempcity,
#tempv,
#city2,
.grid-i {
  justify-content: center;
  align-items: center;
}
.cards,
.date,
#tempv,
#city2,
.grid-i {
  flex-direction: column;
}

/* MAIN */

.container-weather {
  background-image: url("../../../public/images/poster.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

/* FORM */

.lets-find {
  padding-top: 3vh;
}
.form {
  height: 5vh;
  width: 100%;
}

#city,
#country {
  height: 3.5vh;
  width: 25vw;
  background-color: beige;
  margin: 1vh;
  text-align: center;
  border: none;
}

.form-submit {
  background-color: rgb(54, 131, 208);
  width: 15vw;
  border: none;
  height: 3.5vh;
}

/* BODY */

.cards {
  margin: 5vh;
}

#d1 {
  flex-direction: row;
  gap: 2vw;
}
.date {
  font-size: 30px;
  font-weight: 700;
  margin: 1.5vh;
}
.desc {
  flex-direction: row;
  font-size: 25px;
  font-weight: 900;
  width: 40vw;
}
.desc #img {
  height: 80px;
  width: 80px;
}
#img {
  height: 50px;
  width: 50px;
}

.tempcity {
  display: grid;
  gap: 1vh;
  grid-template-rows: 15vh 10vh;
}

#city2 h2 {
  font-size: 60px;
}

#city2 span {
  font-size: 20px;
}
#feels {
  margin-top: 2vh;
}
#im {
  height: 25px;
  width: 25px;
}

.data1 {
  margin: 2vh;
  display: grid;
  grid-template-columns: 15vw 15vw 15vw 15vw;
  height: 15vw;
  gap: 1.5vw;
}

.grid-i {
  background-color: rgb(250, 250, 250, 0.347);
  border: 2px solid black;
  font-size: 20px;
  border-radius: 2.5%;
}
.hidden {
  display: none;
}
@media screen and (max-width: 950px) {
  .date {
    margin: 0;
  }
  .date span {
    font-size: 20px;
  }
  #city2 h2 {
    font-size: 40px;
  }
  .data1 {
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    height: 30vw;
  }
}
@media screen and (max-width: 520px) {
  .date span {
    font-size: 14px;
  }
  .lets-find{
    font-size: 20px;
  }
  
  .data1{
    margin: 0;
    margin-top: 3vh;
    width: 80vw;
    height: 35vh;
    gap: 2vw;
  }
  .grid-i{
    height: 15vh;
  }
  .desc{
    width: 50vw;
  }
}
@media screen and (max-width:430px) {
  #form{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
  }
  #city,#country{
    width: 80%;
    height: 5vh;
    margin: 0.5vh;
    border-radius: epx;
  }
  .form-submit{
    width: 50%;
  }
  .lets-find{
    font-size: 15px;
  }
  .date span{
    font-size: 12px;
  }
 .desc #img{
    height: 35px;
    width: 35px;
  }
  #city2 h2{
    font-size: 23px;
  }
  #city2 span{
    font-size: 14px;
  }
  #tempv span{
    font-size: 13px;
  }
  .data{
    width: 100%;
  }
  .cards{
    margin:5vh 0vh;
  }
  .data1{
    width: 100%;
    padding: 1vw;
    gap: .1vw;
  }
  .grid-i{
    width: 100%;
    font-size: 15px;
  }
  .h2{
    font-size: 1rem;
  }
}